@import "./Variables";

.my-account {
  background-color: $White;
  padding: 1em;
  padding-top: max(5em, 8vw);
}

.account-details {
  background-color: $Red;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 0.2em;

  .account-name {
    color: $White;
    text-align: left;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h3 {
      font-size: max(0.8em, 1vw);
    }

    p {
      color: $Gray;
      font-size: max(0.5em, 0.7vw);
      text-align: right;
    }
  }
  
  .account-balance {
    padding: 1em;
    margin-top: 0.2em;
    color: $White;
    background: $DarkRed;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;

    h3 {
      font-size: max(1em, 1.1vw);
      color: $Gray;
    }

    h6 {
      font-size: max(1em, 1.5vw);
      width: 100%;
      margin-top: 0.3em;
    }
  }
}

.transaction-list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: 2.5em 0.5em 1em;

  .transactions {
    margin: 0.5em 0.5em 0.3em;
    padding: 1em 0em;
    width: clamp(5em, 100px, 100%);
    font-size: max(0.8em, 0.8vw);
    color: $DarkRed;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    cursor: pointer;

    box-shadow: 1px 1px 3px $Gray inset;
    transition: 0.25s;

    &:hover {
      background: $LightGray;
      box-shadow: 1px 1px 2px $Gray inset;
    }
  }
}

.recent-transaction {
  h5 {
    background-color: $Red;
    color: $White;
    text-align: left;
    padding: 1em;
    font-size: max(1em, 1vw);
  }

  .trans-record {
    display: flex;
    justify-content: space-between;
    padding: 0.8em 1em;
    border-bottom: 1px solid $DarkRed;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $LightGray;
    }
  }

  .details {
    h4 {
      color: $Black;
      font-size: max(0.8em, 0.8vw);
    }

    p {
      font-size: max(0.7em, 0.8vw);
      margin-top: 0.3em;
      color: $Gray;
    }
  }

  .price {
    color: $LightGreen;
    font-weight: 900;
    font-size: max(0.7em, 0.9vw);
  }
}
