@import "./Variables.scss";
@import "./AccountDetails";
@import "./Signup";
@import "./Login";
@import "./Transfer";
@import "./Header";





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: $White;
  height:100vh;
  min-height: 300px;
  width: 200px;
}

