@import './Variables.scss';

.login-wrap{
    @extend .form-design;
   
}

.sign-in-opt{
    color: $White;
    .alternate{
h4{
    font-size: 1em;
}
    }
}

p{
    padding: .5em;

    span{
        font-size: .8em;
        padding: .1em .2em;
        color: $LightGray;
        cursor: pointer;
        transition: .5s;
        &:hover{
            color: $Gray;
        }
    }

}

