@import "./Variables.scss";

.signup-container {
   @extend .form-design;

   .error{
    color: red;
    font-size: max(.8em, .8vw);
   }
}


.input-div {
  margin-top: 0.7em;
  padding: 0.4em;

  input {
    padding: 1em;
    display: inline-block;
    width: max(100%, 100px);
    font-size: 1em;
    color: $Black;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1px solid $Red;
    text-align: center;

    &::placeholder {
      font-size: .8em;
      color: $Gray;
    }

    &:focus{
      border-color: $Black;
      outline: none;
    }

  }

  
  input[type="submit"] {
    padding: 0.5em;
    font-size: 0.9em;
    width: clamp(6em, 120px, 20%);
    background-color: $White;
    border: 1px solid $Black;
    color: $Black;
    font-size: max(1em, 1vw);
    cursor: pointer;
  }
}
