// Don't mind my color names, lol....I initially wanted to use red color before changing my mind


$DarkRed: rgb(0, 0, 107);
$Red: rgb(0, 0, 200);
$Gray: rgb(155, 155, 155);
$LightGray:rgb(209, 209, 209);
$Black: rgb(1, 1, 48);
$White: rgb(255, 255, 255);
$LightGreen: rgb(92, 237, 92);

.form-design {
  width: 100%;
  height:100vh;
  padding: 2em 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: $DarkRed;
  padding-top: 5em;
  padding-bottom: 3em;

  form {
    background: $White;
    width: 95%;
    max-width: 570px;
    margin: auto;
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 3px solid $Red;
  }
}

//RESPONSIVE MIXING

$Tablet: 760px;

@mixin Tablet($Device) {
  @media screen and (min-width: $Device) {
    @content;
  }
}
