$DarkRed: rgb(172, 1, 1);
$Red: rgb(196, 0, 0);
$Gray: rgb(155, 155, 155);
$Black: rgb(60, 0, 0);
$White: rgb(255, 244, 244);
$LightGreen: rgb(92, 237, 92);

.form-design {
  width: max(300px, 100%, 98vw);
  height: max(100%, 100vh);
  padding: 2em 0;
  margin: auto;
  display: flex;
  place-content: center;
  flex-direction: column;
  background-color: $White;

  form {
    background-color: $DarkRed;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

@mixin Tablet($Device) {
  @media screen and (min-width: $Device) {
    @content;
  }
}
