/* */

.my-account {
  padding: 1em;
  padding-top: 5em;
  width: 100%;
  min-width: 250px;
}

.account-details {
  background-color: #0000c8;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 0.2em;
}

.account-details .account-name {
  color: white;
  text-align: left;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.account-details .account-name h3 {
  font-size: max(1em, 1.6vw);
}

.account-details .account-name p {
  color: #9b9b9b;
  font-size: max(1em, 0.7vw);
  text-align: right;
}

.account-details .account-balance {
  padding: 1em;
  margin-top: 0.2em;
  color: white;
  background: #00006b;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  text-align: center;
}

.account-details .account-balance h3 {
  font-size: max(1.3em, 1.2vw);
  color: #9b9b9b;
}

.account-details .account-balance h6 {
  font-size: max(1em, 1.5vw);
  width: 100%;
  margin-top: 0.3em;
}

.transaction-list {
  height: 500px;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  place-content: center;
  margin: 3em 0.5em 1em;
}

.transaction-list .transactions {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 0.5em 0.5em 0.3em;
  padding: 1em 1em;
  font-size: max(1em, 1vw);
  background-color: #00006b;
  color: white;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px #9b9b9b inset;
  box-shadow: 1px 1px 3px #9b9b9b inset;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.transaction-list .transactions:hover {
  background-color: #0000c8;
  -webkit-box-shadow: 1px 1px 2px #9b9b9b inset;
  box-shadow: 1px 1px 2px #9b9b9b inset;
}

.recent-transaction {
  width: 100%;
  min-width: 250px;
  margin-inline: auto;
}

.recent-transaction h5 {
  background-color: #0000c8;
  color: white;
  text-align: left;
  padding: 1em;
  font-size: max(1em, 1.5vw);
}

.recent-transaction .trans-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.8em 1em;
  border-bottom: 1px solid #00006b;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-block: 0;
}

.recent-transaction .trans-record:hover {
  background-color: #d1d1d1;
}

.recent-transaction .details h4 {
  color: #010130;
  font-size: max(1em, 1.5vw);
  margin-bottom: -0.3em;
}

.recent-transaction .details p {
  font-size: max(1em, 1.2vw);
  margin-top: 0.3em;
  color: #9b9b9b;
}

.recent-transaction .price {
  color: #008100;
  font-weight: 900;
  font-size: max(1em, 1.2vw);
}

.loading {
  width: 80vw;
  height: 50vh;
  min-height: 80px;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  cursor: default;
  padding: 1em;
  border-radius: 5em;
  font-size:  max(1em, 1.2vw);
  border-top: 2px solid blue;
  border-bottom: 2px solid green;
  border-left: 2px solid red;
  border-right: 2px solid yellow;
  position: relative;
  animation-name: load;
  animation-duration: .7s;
  animation-iteration-count: infinite;
}

@keyframes load {
  0% {
    border-top: 2px solid red;
    border-bottom: 2px solid yellow;
    border-left: 2px solid green;
    border-right: 2px solid blue;
  }

  25% {
    border-top: 2px solid green;
    border-bottom: 2px solid blue;
    border-left: 2px solid yellow;
    border-right: 2px solid red;
  }

  50% {
    border-top: 2px solid yellow;
    border-bottom: 2px solid red;
    border-left: 2px solid blue;
    border-right: 2px solid green;
  }

  

  75%{
    border-top: 2px solid blue;
    border-bottom: 2px solid green;
    border-left: 2px solid red;
    border-right: 2px solid yellow;
  }
}

/*# sourceMappingURL=AccountDetails.css.map */
