@import "./AccountDetails.css";
@import "./Signup.css";
@import "./Login.css";
@import "./Transfer.css";
@import "./Header.css";

* {
  box-sizing: border-box;
  padding: 0;
}

body{
  padding: 0;
  margin: 0;
}
/* .form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.my-account {
  background-color: white;
  padding: 1em;
  padding-top: 5em;
}

.account-details {
  background-color: #0000c8;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 0.2em;
}

.account-details .account-name {
  color: white;
  text-align: left;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.account-details .account-name h3 {
  font-size: 0.8vw;
}

.account-details .account-name p {
  color: #9b9b9b;
  font-size: 0.57vw;
  text-align: right;
}

.account-details .account-balance {
  padding: 1em;
  margin-top: 0.2em;
  color: white;
  background: #00006b;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
}

.account-details .account-balance h3 {
  font-size: 1em;
  color: #9b9b9b;
}

.account-details .account-balance h6 {
  font-size: 1em;
  width: 100%;
  margin-top: 0.3em;
}

.transaction-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
  margin: 2.5em 0.5em 1em;
}

.transaction-list .transactions {
  margin: 0.5em 0.5em 0.3em;
  padding: 1em 0em;
  width: 100px;
  font-size: 0.88vw;
  color: #00006b;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 3px #9b9b9b inset;
          box-shadow: 1px 1px 3px #9b9b9b inset;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.transaction-list .transactions:hover {
  background: #d1d1d1;
  -webkit-box-shadow: 1px 1px 2px #9b9b9b inset;
          box-shadow: 1px 1px 2px #9b9b9b inset;
}

.recent-transaction h5 {
  background-color: #0000c8;
  color: white;
  text-align: left;
  padding: 1em;
  font-size: 1em;
}

.recent-transaction .trans-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em 1em;
  border-bottom: 1px solid #00006b;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.recent-transaction .trans-record:hover {
  background-color: #d1d1d1;
}

.recent-transaction .details h4 {
  color: #010130;
  font-size: 0.88vw;
}

.recent-transaction .details p {
  font-size: 0.78vw;
  margin-top: 0.3em;
  color: #9b9b9b;
}

.recent-transaction .price {
  color: #5ced5c;
  font-weight: 900;
  font-size: 0.79vw;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.signup-container .error {
  color: red;
  font-size: .8em;
}

.input-div, .transfer div {
  margin-top: 0.7em;
  padding: 0.4em;
}

.input-div input, .transfer div input {
  padding: 1em;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  color: #010130;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #0000c8;
  text-align: center;
}

.input-div input::-webkit-input-placeholder, .transfer div input::-webkit-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input:-ms-input-placeholder, .transfer div input:-ms-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input::-ms-input-placeholder, .transfer div input::-ms-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input::placeholder, .transfer div input::placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input:focus, .transfer div input:focus {
  border-color: #010130;
  outline: none;
}

.input-div input[type="submit"], .transfer div input[type="submit"] {
  padding: 0.5em;
  font-size: 0.9em;
  width: 120px;
  background-color: white;
  border: 1px solid #010130;
  color: #010130;
  font-size: 1em;
  cursor: pointer;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.sign-in-opt {
  color: white;
}

.sign-in-opt .alternate h4 {
  font-size: 1em;
}

p {
  padding: .5em;
}

p span {
  font-size: .8em;
  padding: .1em .2em;
  color: #d1d1d1;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

p span:hover {
  color: #9b9b9b;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

.signup-container .error {
  color: red;
  font-size: .8em;
}

.input-div, .transfer div {
  margin-top: 0.7em;
  padding: 0.4em;
}

.input-div input, .transfer div input {
  padding: 1em;
  display: inline-block;
  width: 100%;
  font-size: 1em;
  color: #010130;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #0000c8;
  text-align: center;
}

.input-div input::-webkit-input-placeholder, .transfer div input::-webkit-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input:-ms-input-placeholder, .transfer div input:-ms-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input::-ms-input-placeholder, .transfer div input::-ms-input-placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input::placeholder, .transfer div input::placeholder {
  font-size: .8em;
  color: #9b9b9b;
}

.input-div input:focus, .transfer div input:focus {
  border-color: #010130;
  outline: none;
}

.input-div input[type="submit"], .transfer div input[type="submit"] {
  padding: 0.5em;
  font-size: 0.9em;
  width: 120px;
  background-color: white;
  border: 1px solid #010130;
  color: #010130;
  font-size: 1em;
  cursor: pointer;
}

.transfer {
  background: rgba(0, 5, 45, 0.679);
  position: fixed;
  top: 0;
  left: 0;
}

.transfer .cancel {
  cursor: pointer;
  color: #0000c8;
}

.transfer form {
  background-color: #d1d1d1;
  border: none;
}

.transfer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transfer div input {
  background-color: #d1d1d1;
}

.transfer div label,
.transfer div input {
  display: block;
  border: none;
  text-align: center;
  margin-bottom: 0.5em;
}

.transfer div label:focus,
.transfer div input:focus {
  border: 1px solid #0000c8;
}

.transfer div label {
  padding-left: 0.5em;
  font-size: 1em;
  color: #0000c8;
  width: 100%;
  max-width: 300px;
}

.transfer div input[type="submit"] {
  text-align: center;
}

.form-design, .signup-container, .login-wrap, .transfer {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form, .signup-container form, .login-wrap form, .transfer form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #010130;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding-inline: 2em;
  height: 3.5em;
}

nav {
  padding: 1em;
  width: 100%;
  margin-block: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .bigScreen {
  display: none;
}

@media screen and (min-width: 760px) {
  nav {
    padding: 0.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .hamburger {
    display: none;
  }
  nav .dropdown {
    display: none;
  }
  nav .bigScreen {
    display: block;
    text-align: left;
    padding-left: 1em;
    margin-block: auto;
  }
  nav .bigScreen li {
    list-style: none;
    display: inline-block;
    margin-right: 3em;
  }
  nav .bigScreen li p {
    font-size: 0.9em;
    color: #d1d1d1;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  nav .bigScreen li p:hover {
    color: #9b9b9b;
  }
}

nav > div {
  width: 10%;
}

.menu {
  width: 20px;
  height: 20px;
}

.hamburger {
  width: 20px;
  height: 1px;
  background-color: white;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger:before {
  content: "";
  width: 25px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

.hamburger:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0.8em);
          transform: translateY(0.8em);
}

.menu-open .hamburger {
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.menu-open .hamburger:before {
  content: "";
  width: 0;
}

.menu-open .hamburger:after {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.logo {
  font-size: 1.6em;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-shadow: 2px 2px #0000c8, -2px -2px #0000c8;
  cursor: pointer;
  color: #d1d1d1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo:hover {
  color: #9b9b9b;
}

ul {
  margin-top: 0.5em;
  text-align: center;
}

.dropdown {
  -webkit-animation-name: jebo;
          animation-name: jebo;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  min-height: 250px;
  width: 100%;
  margin-top: 5em;
  background-color: red;
}

.dropdown li {
  list-style-type: none;
  width: 100%;
  padding: 0.8em 1em;
}

.dropdown li p {
  cursor: pointer;
  font-size: 0.8em;
  color: #d1d1d1;
  position: relative;
  width: 50%;
  text-align: left;
}

.dropdown li p:hover {
  color: #9b9b9b;
}

.dropdown li p:hover::before {
  width: 100px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background-color: #9b9b9b;
}

.dropdown li p::before {
  content: "";
  width: 70vw;
  height: 3px;
  background-color: #d1d1d1;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@-webkit-keyframes jebo {
  from {
    width: 100%;
    height: 0vh;
  }
  to {
    width: 85%;
    height: 100vh;
  }
}

@keyframes jebo {
  from {
    width: 100%;
    height: 0vh;
  }
  to {
    width: 85%;
    height: 100vh;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  min-height: 300px;
  width: 100%;

} */
/*# sourceMappingURL=App.css.map */