/* .form-design {
  width: 100%;
  height: 100vh;
  padding: 2em 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #00006b;
  padding-top: 5em;
  padding-bottom: 3em;
}

.form-design form {
  background: white;
  width: 95%;
  max-width: 570px;
  margin: auto;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 3px solid #0000c8;
} */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #010130;
  color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding-inline: 2em;
  height: 3.5em;
}

nav {
  padding: 1em;
  width: 100%;
  margin-block: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .bigScreen {
  display: none;
}

@media screen and (min-width: 970px) {
  nav {
    padding: 0.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  nav .hamburger {
    display: none;
  }
  nav .dropdown {
    display: none;
  }
  nav .bigScreen {
    display: block;
    text-align: left;
    padding-left: 1em;
    margin-block: auto;
  }
  nav .bigScreen li {
    list-style: none;
    display: inline-block;
    margin-right: 3em;
  }
  nav .bigScreen li p {
    font-size: 0.9em;
    color: #d1d1d1;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  nav .bigScreen li p:hover {
    color: #9b9b9b;
  }
}

nav > div {
  width: 10%;
}

.menu {
  width: 20px;
  height: 20px;
  margin-left: -2em;
}

.menu:hover, .menu-open:hover {
  cursor: pointer;
}

.menu-open {
  margin-left: -2em;
  margin-top: 0.5em;
}

.hamburger {
  width: 20px;
  height: 1px;
  background-color: white;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger:before {
  content: "";
  width: 25px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0.4em);
  transform: translateY(0.4em);
}

.hamburger:after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0.8em);
  transform: translateY(0.8em);
}

.menu-open .hamburger {
  -webkit-transform: rotate(130deg);
  transform: rotate(130deg);
}

.menu-open .hamburger:before {
  content: "";
  width: 0;
}

.menu-open .hamburger:after {
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}

.logo {
  font-size: 1.6em;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-shadow: 2px 2px #0000c8, -2px -2px #0000c8;
  cursor: pointer;
  color: #d1d1d1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0;
  margin-right: -1em;
}

.logo:hover {
  color: #9b9b9b;
}

ul {
  margin-top: 0.5em;
  text-align: center;
}

.dropdown {
  position: fixed;
  top: 3em;
  left: 0;
  text-align: center;
  width: 100vw;
  min-width: 800px;
  height: 100vh;
  min-height: 250px;
  padding-inline: 0em;
  -webkit-animation-name: jebo;
  animation-name: jebo;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #010130;
  padding-top: 2em;
}

.dropdown li {
  list-style-type: none;
  width: 100%;
  padding: 0.2em;
  text-align: left;
}

.dropdown li p {
  cursor: pointer;
  font-size: 0.8em;
  color: #d1d1d1;
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 1.5em;
}

.dropdown li p:hover {
  color: #9b9b9b;
}

@-webkit-keyframes jebo {
  from {
    width: 100%;
    height: 0vh;
  }
  to {
    width: 85%;
    height: 100vh;
  }
}

@keyframes jebo {
  from {
    width: 100%;
    height: 0vh;
  }
  to {
    width: 85%;
    height: 100vh;
  }
}

.my-profile{
  background-color: #010130;
  border-top: 1px groove rgb(104, 104, 104);
  position: fixed;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 10%;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-profile ul{
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

}

.my-profile li{
display: inline-block;
color: #6d6d6d;
cursor: pointer;
}

.my-profile li p{
  font-size: 1.2em;
  padding: 1em;
}

.my-profile li p:hover{
  color: aliceblue;
}
/*# sourceMappingURL=Header.css.map */
